# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.pbxuser
*.perspectivev3
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock
.claude/
